<h1><%= @project.title %></h1>
<p><%= @project.body %></p>
<br>
<%= link_to "Back", project_path(@project), class: "btn btn-default" %>
<h3><%= @discussion.title %></h3>
  <%= @discussion.body %>

<%= form_for [@discussion, @comment] do |f| %>
  <div class="form-group">
    <%= f.label :body, "Enter New Comment:" %>    
    <br>
    <%= f.text_area :body, class: "form-control"  %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>
<hr>
<div class="well">

<h2>Comments:</h2>
<% @discussion.comments.each do |comment| %>
   <%= comment.body %>
   <br>
   <br>
   <p>Created at: <%= comment.created_at.to_formatted_s(:long) %></p>
  <br>
  <div class="pull-right">
    <%= link_to "Delete Comment", [@discussion, comment], method: :delete, data: {confirm: "Are you sure you want to delete this answer?"}, class: "btn btn-default" %>
  </div>
  <hr>
<% end %>
</div>