
<div class="container">

<div class="thought-bubble">
      <br><br><br>
      <h4><%= link_to "New Project", new_project_path %></h4>
</div>
  <div class="projects-list">
    <h2>Projects:</h2>
      <% @projects.each do |project| %>
        <div class="project-title">
          <h3><%= link_to "#{project.title}", project %></h3>
        </div>
        <p><%= project.body %></p>
        <% if can? :manage, project %>
          <%= link_to "Delete Project", project, method: :delete, data: {confirm: "Are you sure you want to delete this project?"}, class: "btn btn-default" %>
          <%= link_to "Edit Project", edit_project_path(project), class: "btn btn-default" %>
        <% end %>
        <p>Hit count:  <%= project.hit_count %></p>
        <p>Like count: <%= project.like_count %></p>
        <hr>
      <% end %>
  </div>
</div>