<h1>Project: <%= @project.title %></h1>
<p>Description: <%= @project.body %></p>
<hr>
<%= link_to "Home", projects_path, class: "btn btn-default" %>
<% if session[:project_ids].present? && session[:project_ids].include?(@project.id) %>
  <%= link_to "Liked", "javascript:void(0)", disabled: "disabled", class: "btn btn-primary" %>
<% else %>
<%= link_to "Like", like_project_path(@project), class: "btn btn-primary" %>
<% end %>
<hr>

<% @project.tasks.each do |task| %>
  <li><p><%= task.name %> | Due: <%= task.due_date %>
    <% if task.completed == false %>
      <%= link_to "Complete?", complete_project_task_path(@project, task) %>
    <% else %>
      <%= "Complete" %>
    <% end %>
      <%= link_to "Delete Task", [@project, task], method: :delete, data: {confirm: "Are you sure you want to delete this task?"} %>
    </p></li>
<% end %>

<%= form_for [@project, @task] do |f| %>
  <p><%= f.text_field :name, class: "form-control" %></p>
  <%= f.date_select :due_date %>
  <%= f.submit class: "btn btn-default" %>
<% end %>

<% if @discussion.errors.any? %>
  <ul>
    <% @discussion.errors.messages.values.each do |msg| %>
    <li><%= msg.join " " %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for [@project, @discussion] do |f| %>
  <div class="form-group">
    <%= f.label :title, "Enter New discussion:" %>
    <br>
    <%= f.text_field :title, class: "form-control" %>
    
    <br>
    <%= f.text_area :body, class: "form-control"  %>
  </div>
  <%= f.submit class: "btn btn-default" %>
<% end %>

<hr>
<h2>Discussions:</h2>
<% @project.discussions.each do |discussion| %>
  <h3><%= link_to "#{discussion.title}", project_discussion_path(@project, discussion) %></h3>
  <%= discussion.body %>

  <br>
  <br>

  <%= link_to "Delete Discussion", [@project, discussion], method: :delete, data: {confirm: "Are you sure you want to delete this answer?"}, class: "btn btn-default" %>
  <%= link_to "Edit Discussion", edit_project_discussion_path(@project, discussion), class: "btn btn-default" %>

  <% if session[:discussion_ids].present? && session[:discussion_ids].include?(discussion.id) %>
    <%= link_to "Liked", "javascript:void(0)", disabled: "disabled", class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Like", like_project_discussion_path(@project, discussion), class: "btn btn-primary" %>
  <% end %>

<% end %>